@mixin button($color, $bg-color, $bg-hover-color) {
    padding: 1em;
    background-color: $bg-color;
    color: $color;
    cursor: pointer;
    @apply rounded-3xl text-center select-none;
    &:hover {
        background-color: $bg-hover-color;
    }
}

