@use 'sass:color';
@use '../styles/index' as styles;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 4rem;
    --light-grey: #F4F7FD;
    --very-dark-grey: #20212C;
    --main-purple: #635FC7;
    --medium-grey: #828FA3;
    --dark-grey: #2B2C37;
    --line-color: #E4EBFA;
    --sidebar-width: 0px;
    --sidebar-inner-width: 0px;

}

// Define media queries based on breakpoints
@each $breakpoint, $value in styles.$layout-breakpoints {
    @if $breakpoint == 'md' {
      @media (min-width: $value) {
        :root {
          --header-height: 5rem; 
          --sidebar-width: 261px;
          --sidebar-inner-width: 261px;
        }
      }
    } @else if $breakpoint == 'lg' {
      @media (min-width: $value) {
        :root {
          --header-height: 6rem; 
          --sidebar-width: 300px;
          --sidebar-inner-width: 300px;
        }
      }
    }
}

.sidebar-collapes {
    --sidebar-width: 0px;
}

.main-wrapper{
    display: grid;
    grid-template-columns:var(--sidebar-width) 1fr;
}

.body-wrapper {
    display: grid;
    grid-template-rows: var(--header-height) calc(100svh - var(--header-height));
}



/*scroller style start */
.scroller-decoration::-webkit-scrollbar-track {
    background-color: styles.$color-scroller-track-color;
    border-radius: 10px;
}

.dark .scroller-decoration::-webkit-scrollbar-track {
    background-color: styles.$color-scroller-track-on-dark-color;
    border-radius: 10px;
}

/* Style the scrollbar thumb (the draggable element) */
.scroller-decoration::-webkit-scrollbar-thumb {
    background-color: styles.$color-scroller-thumb-color;
    border-radius: 10px;
}
/* Hover styles for the scrollbar thumb */
.scroller-decoration::-webkit-scrollbar-thumb:hover {
    background-color: darken($color: styles.$color-scroller-thumb-color, $amount: 5%);
}

.dark .scroller-decoration::-webkit-scrollbar-thumb {
    background-color: styles.$color-scroller-thumb-on-dark-color;
}

.dark .scroller-decoration::-webkit-scrollbar-thumb:hover {
    background-color: styles.tint-color(styles.$color-scroller-thumb-on-dark-color, 10%);
}

/* Style the width of the scrollbar */
.scroller-decoration::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar here */
    height: 8px;
}
/*scroller style end */

.icon-box {
    mask-image: var(--mask-image-url);
    mask-repeat: no-repeat;
}

.flow > * + *   {
    --top-gap: 1rem;
    margin-top: var(--top-gap);
}

// button
.dark .primary-button,.primary-button {
    @include styles.buttonMix-button(styles.$color-white, map-get(styles.$color-theme-colors, "primary"), lighten($color: map-get(styles.$color-theme-colors, "primary"), $amount: 10%))
}

.secondary-button {
    @include styles.buttonMix-button(
        map-get(styles.$color-theme-colors, "primary"), 
        transparentize(map-get(styles.$color-theme-colors, "primary"), 0.9), 
        transparentize(map-get(styles.$color-theme-colors, "primary"), 0.75)
    );
}

.dark .secondary-button {
    @include styles.buttonMix-button(
        styles.$color-primary-text-emphasis, 
        styles.$color-white, 
        styles.$color-white
    );
}

.dark .alert-button,.alert-button {
    @include styles.buttonMix-button(
        styles.$color-white, 
        map-get(styles.$color-theme-colors, "danger"), 
        styles.$color-red-hover
    );
}
//button

// board-nav-item
.board-nav-item {
    @apply flex gap-4 
        items-center text-heading-medium 
        px-5 py-4 cursor-pointer
        rounded-tl-none rounded-bl-none 
        rounded-tr-full rounded-br-full;

    &:hover {
        background-color: transparentize($color: map-get(styles.$color-theme-colors, "primary"), $amount: 0.9);
        @apply text-primary-color;
        .board-nav-icon {
            background-color: map-get(styles.$color-theme-colors, "primary");
        }
    }

    .board-nav-icon {
        mask-image: var(--mask-image-url);
        @apply size-4;
    }
}

.dark .board-nav-item {
    &:hover {
        background-color: styles.$color-white;
        @apply text-primary-color;
        .board-nav-icon {
            background-color: map-get(styles.$color-theme-colors, "primary");
        }
    }
}
// board-nav-item

//git demo test